/* ## MOBILE ## */
@media (max-width: 670px){

    .container{
        max-width: 340px;
    }

    header{
        height: 50px;
    }

    .header-left{
        line-height: 50px;
    }

    .header-right{
        display: none;
    }

    .menu-icon::before{
        font-size: 20px;
        padding: 15px 0;
        display: block;
    }

    .heading{
        height: 300px;
        background-color: #E8E8E8;
        background-size: 110%;
        background-repeat: no-repeat;
    }

    .heading h1{
        padding-top: 90px;
        font-size: 35px;
        letter-spacing: 2px;
    }

    .service{
        padding-bottom: 800px;
        position: relative;
    }
    #a-wrapper,#b-wrapper, #c-wrapper {
        padding-left: 9rem;
    }
}

@media all and (max-width: 1000px){
    .service{
        height: 1080px;
        position: relative;
    }
    #a-wrapper,#b-wrapper, #c-wrapper {
        padding-left: 7rem;
    }
}