html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Lucida Grande"; */
  font-family: 'Signika', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-icon{
    float: right;
}

.menu-icon::before{
    color: white;
    padding: 20px 0;
    font-size: 25px;
    display: none;
}

header{
    height: 65px;
    background-color: rgba(39, 174, 96, 0.7);
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}

.container{
    max-width: 1170px;
    margin: 0px auto;
}

.header-left{
    float: left;
    line-height: 65px;
    color: white;
}

.logo{
    font-size: 30px;
    font-family: 'Fredoka One';
}

.header-right{
    float: right;
    height: 65px;
}

.header-right ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.header-right li{
    line-height: 65px;
    flex: auto;
    padding: 0px;
    color: white;
    font-weight: bold;
}

.header-right a{
  font-size: 15px;
  padding: 20px 25px;
}

.header-right a:hover{
  color: rgba(39, 174, 96, 0.7);
}

.header-right li:hover{
  background-color: #E8E8E8;
}

/* heading */
.heading{
    height: 740px;
    background-image: url(job562-nunoon-05-g.jpg);
    background-size: cover;
    background-position: bottom;
    text-align: center;
}

.heading h1{
    padding-top: 130px;
    font-size: 80px;
    letter-spacing: 5px;
    font-family: 'Fredoka One';
    color: #27ae60;
}

/* arikel */
.artikel{
    height: 300px;
    border-bottom: 1px solid gainsboro;
    background-color: rgb(241, 241, 241);
    color: #27ae60;
}

/* hewan */
.hewan{
    height: 300px;
    border-bottom: 1px solid gainsboro;
    background-color: rgb(241, 241, 241);
    color: #27ae60;
}

/* kebutuhan */
.kebutuhan{
    height: 300px;
    border-bottom: 1px solid gainsboro;
    background-color: rgb(241, 241, 241);
    color: #27ae60;
}

/* service */
.service{
    padding-top: 15px;
    height: 685px;
    border-bottom: 1px solid gainsboro;
    background-color: rgb(241, 241, 241);
    color: #27ae60;
}

footer{
    background-color: #27ae60;
    width: 100%;
    color: white;
}

.ftr{
    padding: 10px 0px;
}

.ftr h2{
    padding-bottom: 10px;
}

.ftr p,a{
    font-size: 12px;
    color: rgb(255, 255, 255);
}


/* ## SERVICES CSS START HERE ## */
.services-heading {
    padding-bottom: 10px;
}
.services-heading h1 {
    text-align: center;
    width: auto;
    /* padding: 0px; */
    margin-bottom: 0px ;
    font-family: 'Signika', sans-serif;
  }

  .services-heading p{
    text-align: center;
    font-family: 'Signika', sans-serif;
  }

  .con1{
    /* padding: 0px 15px; */
    /* display: flex; */
    /* justify-content:space-between; */
    align-items: center;
    font-family: 'Signika', sans-serif;

  }
  #a-wrapper, #b-wrapper, #c-wrapper{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu{
    float: left;
    margin: 10px 10px 10px 10px;
    /*margin-bottom: 15px;*/
  }
  
  .text-wrapper h2{
    font-family: 'Signika', sans-serif;
  }

  .btn-wrapper a{
    font-family: 'Signika', sans-serif;
  }

  .left-side{
    height: 180px;
    width: 180px;
    float: left;
    /* background-color: #00C853; */
    /* background-image: linear-gradient(45deg,#1fa2ff, #12d8fa, #a6ffcb); */
    background-color: #08AEEA;
    background-image: linear-gradient(45deg, #27ae60 0%, #2ecc71 100%);
  }

  .right-side{
    float: left;
    padding-right: 10px;
    overflow: hidden;
    position: relative;
    transition: transform .2s;
    height: 180px;
    width: 180px;
    /* margin-right: 15px; */
  }

  .right-side:hover{
    transform: scale(1.05);
    /* margin-right: 15px; */
  }

  .text-wrapper{
    padding: 35px 0px 0px 30px;
    color: aliceblue;
  }

  .text-wrapper a{
   font-size: 15px;
  }

  .img-wrapper img{
    position: absolute;
    width: auto;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

  .btn-wrapper  {
    padding: 10px 15px;
    margin-top: 10px;
    background: #2980b9;
    display: inline-block;
    border-radius: 10%;
}

.btn-wrapper a{
    text-decoration: none;
    color:rgb(236, 240, 241);
}

.btn-wrapper:hover {
    background: #3498db;
  }
/* ## SERVICES CSS END HERE ## */